@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 285 85% 65%;
    --primary-foreground: 210 40% 98%;

    --secondary: 45 94% 68%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 185 39% 68%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 165 80% 65%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 4 86% 58%;
    --destructive-foreground: 210 40% 98%;

    --border: 185 39% 85%;
    --input: 185 39% 85%;
    --ring: 285 85% 65%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 285 85% 65%;
    --sidebar-primary: 285 85% 65%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 165 80% 65%;
    --sidebar-accent-foreground: 285 85% 65%;
    --sidebar-border: 185 39% 85%;
    --sidebar-ring: 285 85% 65%;
  }

  .dark {
    --background: 285 25% 10%;
    --foreground: 210 40% 98%;

    --card: 285 25% 15%;
    --card-foreground: 210 40% 98%;

    --popover: 285 25% 15%;
    --popover-foreground: 210 40% 98%;

    --primary: 285 85% 65%;
    --primary-foreground: 285 25% 10%;

    --secondary: 45 94% 68%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 285 25% 20%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 165 80% 65%;
    --accent-foreground: 210 40% 98%;

    --destructive: 4 86% 58%;
    --destructive-foreground: 210 40% 98%;

    --border: 285 25% 20%;
    --input: 285 25% 20%;
    --ring: 285 85% 65%;
    
    --sidebar-background: 285 25% 8%;
    --sidebar-foreground: 285 85% 65%;
    --sidebar-primary: 285 85% 65%;
    --sidebar-primary-foreground: 285 25% 8%;
    --sidebar-accent: 165 80% 65%;
    --sidebar-accent-foreground: 285 85% 65%;
    --sidebar-border: 285 25% 20%;
    --sidebar-ring: 285 85% 65%;
  }

  * {
    border-color: hsl(var(--border));
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
